<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!--jQuery Link-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--CSS Style Sheet-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <!--Google Fonts Link-->


    <title>NYT</title>
</head>

<body>

    <div class="mainContainer">
        <div id="mainHidden">
            <span><button type="button" class="scrape">Scrape Articles</button>
                <button type="button" class="empty">Delete Articles</button>
            </span>
        </div>
    </div>
    {{{ body }}}

    <!--External JS Link-->

    <script src="/assets/js/app.js"></script>
</body>

</html>